{%- assign header_font = block.settings.title_font -%}

<div class="gdc-block__title block--{{ block.id}} {{ hide_mobile }} {{ hide_tablets }}">
  <h2>{{ block.settings.title }}</h2>
</div>

<style>
  {{ header_font | font_face }}

  .gdc-block__title.block--{{ block.id }} {
    margin-top: {{ block.settings.t_margin }}px;
    margin-bottom: {{ block.settings.b_margin }}px;
    padding-top: {{ block.settings.t_padding }}px;
    padding-bottom: {{ block.settings.b_padding }}px;
    background-color: {{ block.settings.bg_color }};
  }

  .gdc-block__title.block--{{ block.id }} h2 {
    margin: 0;
    line-height: 1;
    {% if block.settings.use_custom_font %}
    font-family: {{ header_font.family }};
    {% endif %}
    color: {{ block.settings.font_color }};
    text-align: {{ block.settings.title_align }};  
    font-size: {{ block.settings.font_size }}px; 

    {% render 'gdc-css-text-shadows' block: block %}
    
  }
  
</style>
